/**
 * @name Polaris Void
 * @author sidonthetroll
 * @version 1.2
*/




@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
@import url('https://discordstyles.github.io/SoftX/SoftX.css');
/**@import url('https://discordstyles.github.io/SoftX/RadialGlow.css'); */
@import url('https://discordstyles.github.io/SoftX/VerticalUserArea.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/y92t1Dm.png'); /* Background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-blur: 0px; /* Blur intensity of --background-image */
  --opacity: 0.4; /* Opacity of overall app. | Default: .85 */
  --accent: 0,255,179; /* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */
  --glow-intensity: 1; /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
  --font: Fira Code; /* Custom font | Default: 'Fira Code' */
  --channels-width: 300px; /* Width of the channels list. | Default: 300px */
  --guilds-width: 100px; /* Width of the server list. | Default: 105px */
  --members-width: 250px; /* Width of the members list. | Default: 280px */
  --server-size: 55px; /* Size of the servers inside the server list. | Default: 50px */
  --chat-avatar-size: 40px; /* Size of the chat avatars. | Default: 32px */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 2px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 2px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 2px; /* Ring width | Default: 1.5px */
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 0%; /* 50% for round - 0% for square */
  --rs-online-color: #00FF8B; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
}

