/*
 * @name Corolla
 * @author SidonTheTroll
 * @github https://github.com/sidonthetroll
 * @version 1.3
 * Made with NeoVim
*/

/*  ____             _    ______           _  */
/* |  _ \           | |  |  ____|         | | */
/* | |_) | __ _  ___| | _| |__   _ __   __| | */
/* |  _ < / _` |/ __| |/ /  __| | '_ \ / _` | */
/* | |_) | (_| | (__|   <| |____| | | | (_| | */
/* |____/ \__,_|\___|_|\_\______|_| |_|\__,_| */

/* For BetterDiscord */
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/client/betterdiscord.css"); 

/* For Vencord */
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/client/vencord.css");

/* Important components */
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/body.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/buttons.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/cards.css");
@import url("https://raw.githubusercontent.com/sidonthetroll/Corolla/main/framework/channels.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/chat.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/fonts.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/forums.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/notes.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/notices.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/panels.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/radial-channels.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/servers.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/settings-ui.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/threads.css");
@import url("https://raw.githubusercontent.com/SidonTheTroll/Corolla/main/framework/ui.css"); 

/*Other scripts*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");
@import url("https://discordstyles.github.io/SoftX/RadialGlow.css");
@import url("https://raw.githubusercontent.com/DiscordStyles/RadialStatus/deploy/RadialStatus.theme.css");
@import url("https://discordstyles.github.io/SoftX/VerticalUserArea.css");

/* __      __        _       _     _            */
/* \ \    / /       (_)     | |   | |           */
/*  \ \  / /_ _ _ __ _  __ _| |__ | | ___  ___  */
/*   \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __| */
/*    \  / (_| | |  | | (_| | |_) | |  __/\__ \ */
/*     \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/ */

:root {
  /* Frame and Background */
  --app-bg: url(https://i.imgur.com/jiOW9ts.jpg);
  --app-blur: 0px;
  --app-margin: 30px;
  --app-radius: 10px;
  /* Accent colors */
  --main-rgb: 0, 0, 0;
  --main-content-opacity: 0.2;
  --sidebar-opacity: 0.4;
  --main-content-color: rgba(var(--main-rgb), var(--main-content-opacity));
  --sidebar-color: rgba(var(--main-rgb), var(--sidebar-opacity));
  --danger-color: rgb(255, 59, 59);
  --accent-hue: 40;
  --accent-saturation: 77.5%;
  --accent-lightness: 47.1%;
  --accent-hsl: var(--accent-hue),
    calc(var(--accent-saturation) * var(--saturation-factor)),
    var(--accent-lightness);
  --accent-opacity: 1;
  --accent-text-color: #000;
  --alert-hue: 359;
  --alert-saturation: 66.7%;
  --alert-lightness: 54.1%;
  --alert-hsl: var(--alert-hue),
    calc(var(--alert-saturation) * var(--saturation-factor)),
    var(--alert-lightness);
  --alert-opacity: 1;
  --alert-action-color: #fff;
  --alert-text-color: #fff;
  /* Font  */
  --font: "Fira Code";
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
  --font-display: var(--font);
  --font-primary: var(--font);
  /* Home Icon */
  --home-icon: url(https://github.com/SidonTheTroll/Polaris-Void/blob/main/img/icons8-arch-64.png?raw=true);
  --home-position: center;
  --home-size: 38px;
  /* Message Colors */
  --message-color: rgba(0, 0, 0, 0.4);
  --message-color-hover: rgba(0, 0, 0, 0.55);
  --message-radius: var(--app-radius);
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  /* Mention Colors */
  --mention-hue: var(--accent-hue);
  --mention-saturation: var(--accent-saturation);
  --mention-lightness: var(--accent-lightness);
  --mention-hsl: var(--mention-hue),
    calc(var(--mention-saturation) * var(--saturation-factor)),
    var(--mention-lightness);
  --mention-opacity: 1;
  /* Reply Colors  */
  --reply-hue: 226;
  --reply-saturation: 77.4%;
  --reply-lightness: 61.8%;
  --reply-hsl: var(--reply-hue),
    calc(var(--reply-saturation) * var(--saturation-factor)),
    var(--reply-lightness);
  --reply-opacity: 1;
  --notification-color: #fff;
  --list-item-radius: var(--app-radius);
  /* Text Area Stuff  */
  --textarea-color: 255, 255, 255;
  --textarea-alpha: 0.1;
  --textarea-alpha-focus: 0.15;
  --textarea-text-color: #fff;
  --textarea-placeholder-color: #aaa;
  --textarea-radius: 22px;
  --textarea-block-color: rgba(0, 0, 0, 0.4);
  --textarea-block-text-color: #ccc;
  --input-height: 36px;
  --input-radius: calc(var(--input-height) / 2);
  --card-color: rgba(0, 0, 0, 0.4);
  --card-color-hover: rgba(0, 0, 0, 0.5);
  --card-color-select: rgba(0, 0, 0, 0.625);
  --card-radius: var(--app-radius);
  --card-header-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-color: hsla(var(--accent-hsl), var(--accent-opacity));
  --button-action-color: #000;
  --button-text-color: var(--accent-text-color);
  --button-radius: 16px;
  /* Switches, Hovers, Popouts */
  --switch-slider-color: hsla(218, 4.6%, 46.9%, 0.85);
  --switch-knob-color: hsl(0, 0%, 13%);
  --popout-color: rgba(0, 0, 0, 0.55);
  --popout-blur: 8px;
  --popout-header-opacity: 0.3;
--popout-header-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
  --popout-radius: var(--app-radius);
  --popout-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --nowplaying-color: 88, 101, 242;
  --streaming-color: 89, 54, 149;
  --spotify-color: 29, 185, 84;
  --server-folder-color: rgba(255, 255, 255, 0.1);
  --supporter-color: hsla(var(--accent-hsl), var(--accent-opacity));
  --tooltip-color: hsla(var(--accent-hsl), var(--accent-opacity));
  --tooltip-text-color: var(--accent-text-color);
  --tooltip-font-size: 14px;
  --tooltip-padding: 8px 12px;
  --tooltip-radius: var(--app-radius);
  --tooltip-shadow: var(--elevation-high);
  --interactive-normal: #aaa;
  --interactive-hover: #ddd;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --channels-default: #aaa;
  --header-secondary: #dfdfdf;
  --background-primary: transparent;
  --text-muted: var(--interactive-normal);
  --transition-time: 250ms;
  --transition-type: cubic-bezier(0.4, 0, 0.2, 1);
  --scrollbar-color: 255, 255, 255;
  --scrollbar-color-alt: 0, 0, 0;
  --scrollbar-opacity: 0.2;
  --scrollbar-opacity-hover: 0.3;
  --scrollbar-width: 10px;
  --text-hyperlink: rgb(0, 70, 248);
  /* Glow  */
  --chat-glow-intensity: var(--glow-intensity);
  --channel-glow-intensity: var(--glow-intensity);
  --members-glow-intensity: var(--glow-intensity);
  --input-glow-intensity: var(--glow-intensity);
  --server-glow-intensity: var(--glow-intensity);
  border: 1px solid var(--border);
  border-radius: 6px;
  --unread-colour: 255 255 255;
  /* Radial Status  */
  --glow-intensity: 1; /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
  /* RadialStatus veriables */
  --rs-small-spacing: 2px; /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
  --rs-medium-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
  --rs-large-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */
  --rs-small-width: 1.5px; /* Ring width (follows same sizing as above) | Default: 1.5px */
  --rs-medium-width: 2px; /* Default: 2px */
  --rs-large-width: 2px; /* Default: 2px */
  /* RadialStatus Customizable colors */
  --rs-online-color: #43b581; /* Default: #43b581 */
  --rs-idle-color: #faa61a; /* Default: #faa61a */
  --rs-dnd-color: #f04747; /* Default: #f04747 */
  --rs-offline-color: #636b75; /* Default: #636b75 */
  --rs-streaming-color: #643da7; /* Default: #643da7 */
  --rs-invisible-color: #747f8d; /* Default: #747f8d */
  --rs-phone-color: var(
    --rs-online-color
  ); /* Color of the phone for mobile users | Default: var(--rs-online-color) */
  --rs-phone-visible: block; /* Visibility of the phone for mobile users | Default: block */
  /*User area*/
  --user-area: calc(var(--server-size) + 175px);
  --transition: 0.15s ease;
  --accent: 617, 150, 14;
}

