/*
 *
 *  BUTTONS
 *
 */

.button_afdfd9 {
  border-radius: var(--button-radius) !important;
}
.button_afdfd9 * {
  text-shadow: none;
}

.sizeSmall__71a98,
.sizeMedium_c6fa98,
.sizeLarge__9049d,
.sizeXlarge__53ea0 {
  height: var(--button-height);
  min-height: var(--button-height);
  min-width: var(--button-height);
  padding: var(--button-padding);
}

.lookFilled__19298,
.lookOutlined__46d54,
.lookLink__93965,
.lookInverted_ee4261 {
  --button-background: hsla(var(--accent-hsl), var(--accent-opacity));
  --button-text-color: var(--accent-text-color);
  --button-outline: none;
  background-color: var(--button-background) !important;
  color: var(--button-text-color) !important;
  border: var(--button-outline) !important;
}
.lookFilled__19298:after,
.lookOutlined__46d54:after,
.lookLink__93965:after,
.lookInverted_ee4261:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--button-action-color);
  border-radius: var(--button-radius);
  opacity: 0;
  pointer-events: none;
  transition: var(--default-time) var(--default-animation) opacity;
}
.lookFilled__19298:hover:after,
.lookOutlined__46d54:hover:after,
.lookLink__93965:hover:after,
.lookInverted_ee4261:hover:after {
  opacity: 0.075;
}
.lookFilled__19298:active:after,
.lookOutlined__46d54:active:after,
.lookLink__93965:active:after,
.lookInverted_ee4261:active:after {
  opacity: 0.15;
}
.lookFilled__19298 .contents_fb6220,
.lookOutlined__46d54 .contents_fb6220,
.lookLink__93965 .contents_fb6220,
.lookInverted_ee4261 .contents_fb6220 {
  color: var(--button-text-color);
}
.lookFilled__19298 .contents_fb6220 svg,
.lookOutlined__46d54 .contents_fb6220 svg,
.lookLink__93965 .contents_fb6220 svg,
.lookInverted_ee4261 .contents_fb6220 svg {
  filter: none;
}

.lookLink__93965:hover .contents_fb6220 {
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    hsl(var(--accent-hsl)) 0,
    hsl(var(--accent-hsl)) 2px,
    transparent 0
  ) !important;
}

.colorable_c84c4c {
  --button-background: var(--background-modifier-hover);
  --button-text-color: #fff;
  --button-radius: 50%;
  background-color: var(--button-background) !important;
  color: var(--button-text-color) !important;
}
.colorable_c84c4c:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--button-action-color);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: var(--default-time) var(--default-animation) opacity;
}
.colorable_c84c4c:hover:after {
  opacity: 0.075;
}
.colorable_c84c4c:active:after {
  opacity: 0.15;
}
.colorable_c84c4c.primaryDark__6b700 {
  --button-background: hsla(var(--accent-hsl), var(--accent-opacity));
  --button-text-color: var(--accent-text-color);
}
.colorable_c84c4c.red_a51ba8 {
  --button-background: hsla(var(--alert-hsl), var(--alert-opacity));
  --button-text-color: var(--alert-text-color);
}
.colorable_c84c4c.white__10e89 {
  --button-background: #fff;
  --button-text-color: #060607;
}
.colorable_c84c4c.primaryLight__19ab7 {
  --button-text-color: #060607;
}
.colorable_c84c4c.activeLight__29e05 {
  --button-background: var(--background-modifier-active);
  --button-text-color: #060607;
}
.colorable_c84c4c .centerIcon__6075a {
  color: var(--button-text-color) !important;
}

.lookLink__93965 {
  --button-background: transparent;
  --button-text-color: hsla(var(--accent-hsl), var(--accent-opacity));
  --button-action-color: transparent;
}

.colorRed_d6b062 {
  --button-background: hsla(var(--alert-hsl), var(--alert-opacity));
  --button-text-color: var(--alert-text-color);
  --button-action-color: var(--alert-action-color);
}

.questionMark-3V9mGJ {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity));
  border-radius: 50%;
}
.questionMark-3V9mGJ .icon-3JHfo7 {
  color: var(--accent-text-color);
  filter: none;
}
