/*
 *
 *  FORUM
 *
 */

.container_b181b6 {
  background: transparent;
}

.header_c01fde {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.header_c01fde.headerWithMatchingPosts_da85d4 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.matchingPostsRow__510be {
  background-color: var(--card-color);
  border-radius: 0 0 var(--card-radius) var(--card-radius);
}

.container__1b27a,
.descriptionContainer__3814d {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}

.tagsContainer_e0ece5 {
  padding: 16px 0 0;
}

.sortDropdown_ec3016 .contents_fb6220 {
  color: var(--accent-text-color);
}

.sortDropdownText_e8ca8d {
  color: inherit !important;
}

.container_dbdb0b {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
.container_dbdb0b .menu_dc52c6 {
  min-width: unset;
}
.container_dbdb0b .menu_dc52c6 .groupLabel_e66554 {
  padding-top: 0;
}

.tagsButton_e96762 {
  --button-padding: 0 8px 0 12px;
}
.tagsButton_e96762.tagsButtonWithCount__094d1 {
  --button-padding: 0 8px;
}
.tagsButton_e96762 .tagsButtonInner_a70c04 {
  color: inherit;
}
.tagsButton_e96762 svg {
  color: var(--accent-text-color);
}

.countContainer__1b48f {
  background-color: var(--accent-text-color);
}
.countContainer__1b48f .countText__6ebee {
  color: hsl(var(--accent-hsl));
}

.container_ae7412 {
  padding: 16px 16px 8px;
  background-color: var(--popout-color) !important;
  border-radius: var(--popout-radius) !important;
  box-shadow: var(--popout-shadow) !important;
  backdrop-filter: blur(var(--popout-blur));
}
.container_ae7412 .header__4ad5b {
  padding: 0;
}
.container_ae7412 .countContainer__51412 {
  background-color: hsl(var(--accent-hsl));
}
.container_ae7412 .countContainer__51412 .countText__8c2eb {
  color: var(--accent-text-color);
}

.card__691f2 {
  padding-bottom: 16px;
}
[style*="height: 558px"].card__691f2 {
  padding-bottom: 0;
}

/* FORUM -> PILLS */
.pill_f055c3 {
  background-color: var(--card-color) !important;
  border: none;
}
.pill_f055c3.clickable__8b375:hover {
  background-color: var(--card-color-hover) !important;
}
.pill_f055c3.selected_dc72d1 {
  background-color: hsl(var(--accent-hsl), 0.3) !important;
}
.pill_f055c3.selected_dc72d1:hover {
  background-color: hsl(var(--accent-hsl), 0.4) !important;
}
.pill_f055c3.selected_dc72d1 .lineClamp1__92431 {
  color: hsl(var(--accent-hsl));
}

/*
 *
 *  FORUM NEW POST
 *
 */

.container__7940a.collapsed_fa2cdb {
  height: auto;
}
.container__7940a.collapsed_fa2cdb .prefixElement__829f9 {
  position: relative;
  right: 0;
}
.container__7940a.collapsed_fa2cdb .prefixElement__829f9 svg {
  padding: 0;
}
.container__7940a .titleContainer__01b90 {
  min-height: 0;
  gap: 8px;
}
.container__7940a .prefixElement__829f9 {
  position: absolute;
  width: auto;
  height: var(--button-height);
  right: 10px;
  margin: 0;
  z-index: 2;
}
.container__7940a .prefixElement__829f9 div[role="button"],
.container__7940a .prefixElement__829f9 svg {
  height: inherit;
}
.container__7940a .prefixElement__829f9 svg {
  padding: 0 8px;
}
.container__7940a .input_d266e7 {
  margin: 0;
  height: var(--button-height);
  padding: 0 10px;
  line-height: var(--button-height);
  font-weight: 400;
  text-shadow: none;
  cursor: text;
}
.container__7940a .input_d266e7::-webkit-input-placeholder {
  font-weight: inherit;
}
.container__7940a .guidelinesButton_d7afe7 {
  margin: 0;
  height: var(--button-height);
}
.container__7940a .lookFilled__19298 {
  height: var(--button-height);
}
.container__7940a .contentContainer__92993 {
  padding-left: 0;
  padding-right: 86px;
}
.container__7940a .formContainer__8f0e4 {
  position: relative;
  display: block;
}
.container__7940a .channelTextArea__56a36 {
  margin: 16px 0 0;
  background-color: transparent;
}
.container__7940a .inner__9fd0b {
  --textarea-alpha: 0.1;
  padding: 8px 16px;
  background-color: rgba(
    var(--textarea-color),
    var(--textarea-alpha)
  ) !important;
  border-radius: var(--textarea-radius);
  color: var(--textarea-text-color);
}
.container__7940a .inner__9fd0b::-webkit-input-placeholder {
  color: var(--textarea-placeholder-color);
}

.container__4f0d0 {
  position: absolute;
  top: calc(var(--button-height) + 16px);
  right: 16px;
}
.container__4f0d0 .uploadInput_bbab2f {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.container__4f0d0 .imageSmall__59845 {
  border-radius: var(--card-radius);
}
.container__4f0d0 .badge_f7250d {
  background-color: hsl(var(--accent-hsl));
  border-width: 4px;
  color: var(--accent-text-color);
}

/*
 *
 *  FORUM POSTS
 *
 */

.container_c24cbd,
.container__99b06 {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none !important;
}
.container_c24cbd:hover,
.container__99b06:hover {
  background-color: var(--card-color-hover);
  box-shadow: none;
  transform: none;
}
.container_c24cbd.isOpen_d88bb6,
.container__99b06.isOpen_d88bb6,
.container_c24cbd.isOpen__8593d,
.container__99b06.isOpen__8593d {
  background-color: var(--card-color-select) !important;
}

.pinIcon__39b6e {
  background-color: hsl(var(--accent-hsl));
}
.pinIcon__39b6e svg {
  filter: none;
}
.pinIcon__39b6e path {
  fill: var(--accent-text-color);
}

.contentPreview_b317ee,
.textContentFooter__5a630 {
  background-color: var(--card-color-hover);
}

.contentPreview_b317ee {
  border-radius: var(--card-radius);
  border: none;
}

.textContentFooter__5a630 {
  background: transparent !important;
}

.container_c24cbd:not(.isOpen_d88bb6):not(.isOpen__8593d):hover
  .contentPreview_b317ee,
.container__99b06:not(.isOpen_d88bb6):not(.isOpen__8593d):hover
  .contentPreview_b317ee {
  background-color: var(--card-color);
}

.box_dd6d91 {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.box_dd6d91:after {
  left: 50px;
}
