/*
 *
 *  BETTERDISCORD ADDONS
 *
 */

.bd-search-wrapper {
  height: auto;
  border-radius: var(--input-radius);
  background-color: rgba(var(--textarea-color), var(--textarea-alpha));
  border: none;
  color: var(--textarea-text-color);
  transition: var(--transition-time) var(--transition-type);
}
.bd-search-wrapper:focus {
  background-color: rgba(var(--textarea-color), var(--textarea-alpha-focus));
}
.bd-search-wrapper .bd-search {
  color: var(--input-text-color);
}
.bd-search-wrapper .bd-search::-webkit-input-placeholder {
  color: var(--input-placeholder-color);
}

.bd-button {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity));
  border-radius: var(--button-radius);
  color: var(--accent-text-color);
  text-shadow: none;
}
.bd-button:hover {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity));
}
.selected.bd-button {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity)) !important;
}
.selected.bd-button svg {
  fill: var(--accent-text-color) !important;
  filter: none;
}

.bd-addon-list .bd-addon-card {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.bd-addon-list .bd-addon-header {
  background-color: transparent;
  box-shadow: var(--card-header-shadow);
  border: none;
}
.bd-addon-list .bd-controls {
  background-color: var(--card-color);
  border-radius: var(--button-radius);
  overflow: hidden;
}
.bd-addon-list .bd-controls .bd-button {
  background-color: transparent;
}
.bd-addon-list .bd-controls .bd-button:hover {
  background-color: var(--background-modifier-selected);
}

/*
 *
 *  BETTERDISCORD PLUGIN -> ChannelDms
 *
 */

.ChannelDms-channelmembers-wrap {
  width: 240px !important;
}
.ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
  background-color: transparent !important;
}

.ChannelDms-channelpopout-popout {
  background-color: transparent;
  border-radius: var(--popout-radius);
  box-shadow: none;
  overflow: hidden;
}
.ChannelDms-channelpopout-popout:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  box-shadow: var(--popout-shadow);
  backdrop-filter: blur(var(--popout-blur));
  pointer-events: none;
  z-index: -1;
}
.ChannelDms-channelpopout-popout .ChannelDms-channelpopout-collapseButton {
  width: 24px;
  height: 24px;
  top: 6px !important;
  left: 6px !important;
}
.ChannelDms-channelpopout-popout .ChannelDms-channelpopout-removeButton {
  top: 6px !important;
  right: 6px !important;
}
.ChannelDms-channelpopout-popout .ChannelDms-channelpopout-header {
  background-color: transparent !important;
  box-shadow: var(--popout-header-shadow) !important;
}
.ChannelDms-channelpopout-popout
  .ChannelDms-channelpopout-header
  .ChannelDms-channelpopout-headerTag {
  margin-left: 24px;
}
.ChannelDms-channelpopout-popout
  .ChannelDms-channelpopout-header
  .ChannelDms-channelpopout-buttons {
  margin-right: 30px;
}

/*
 *
 *  BETTERDISCORD PLUGIN -> ChannelTabs
 *
 */

#channelTabs-container {
  margin: calc(var(--app-margin) / 2) var(--app-margin)
    calc(var(--app-margin) / 4 * -1);
  padding: 4px !important;
  background-color: var(--sidebar-color) !important;
  border-radius: var(--app-radius);
  backdrop-filter: blur(var(--app-blur));
}

.channelTabs-tabContainer {
  gap: 4px;
}

.channelTabs-tabNav {
  margin: 0 !important;
}
.channelTabs-tabNav > div {
  border-radius: calc(var(--app-radius) / 1.5) !important;
}

.channelTabs-tab {
  margin-bottom: 0 !important;
  border-radius: calc(var(--app-radius) / 1.5) !important;
}

.channelTabs-newTab {
  width: 32px !important;
  height: 32px !important;
  margin: 0 !important;
  border-radius: calc(var(--app-radius) / 1.5) !important;
}

/*
 *
 *  BETTERDISCORD PLUGIN -> CharCounter
 *
 */

.charCounter-7fw40k {
  position: relative;
  z-index: 1;
}

.chatCounter-XOMPsh {
  bottom: auto;
}

.charCounterAdded-zz9O4t {
  margin-bottom: 24px;
}

.counter-uAzbKp {
  position: absolute !important;
  width: auto;
  height: 24px;
  margin-top: -12px;
  padding: 0;
  line-height: 24px;
  border-top: none;
  box-sizing: border-box;
  text-align: right;
  font-weight: 500;
  color: var(--text-muted);
}

/*
 *
 *  BETTERDISCORD PLUGIN -> MemberCount
 *
 */

#MemberCount {
  background-color: transparent !important;
}

.hasCounter.membersWrap__90226 .members__9f47b {
  margin-top: 41px !important;
}

/*
 *
 *  BETTERDISCORD PLUGIN -> SpotifyControls
 *
 */

#vc-spotify-player {
  background-color: transparent !important;
}
