/*
 *
 *  VENCORD SETTINGS
 *
 */

.vc-settings-tab-bar {
  margin-top: 24px;
  margin-bottom: 0 !important;
  padding-top: 10px;
  border-bottom: 1px solid var(--background-modifier-accent) !important;
}
.vc-settings-tab-bar .item__48dda {
  margin: 8px;
  padding: 2px 8px;
  border-radius: var(--button-radius);
  border-bottom: none;
  line-height: 20px;
  font-size: 16px;
  color: var(--interactive-normal) !important;
}
.vc-settings-tab-bar .item__48dda:hover {
  background-color: var(--background-modifier-hover) !important;
  color: var(--interactive-hover) !important;
}
.vc-settings-tab-bar .selected-1sf9UK.item__48dda {
  background-color: var(--background-modifier-selected) !important;
  color: var(--interactive-active) !important;
}
.vc-settings-tab-bar .item__48dda:first-child {
  margin-left: 0;
}
.vc-settings-tab-bar .item__48dda:last-child {
  margin-right: 0;
}
.vc-settings-tab-bar + .divider__2bbbc {
  display: none;
}

/* VENCORD SETTINGS -> PLUGINS */
.vc-addon-card {
  background-color: var(--card-color) !important;
  border-radius: var(--card-radius) !important;
}
.vc-addon-card:hover {
  box-shadow: none !important;
  transform: none !important;
}

/* VENCORD SETTINGS -> NOTIFICATION */
.vc-notification-root {
  background-color: transparent;
  border-radius: var(--popout-radius);
  box-shadow: none;
  overflow: hidden;
}
.vc-notification-root:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  box-shadow: var(--popout-shadow);
  backdrop-filter: blur(var(--popout-blur));
  pointer-events: none;
  z-index: -1;
}

/*
 *
 *  VENCORD PLUGIN - ReviewDB
 *
 */

.userProfileOuterThemed__6eb84 .vc-rdb-view .wrapper__09ecc {
  --message-color: var(--profile-body-background-hover);
  --message-color-hover: var(--profile-body-background-hover);
}
.userProfileOuterThemed__6eb84 .vc-rdb-view .formText_e4d957 {
  background-color: var(--profile-body-background-hover);
}
.userProfileOuterThemed__6eb84 .vc-rdb-view .input_d266e7 {
  --textarea-background: var(--profile-body-background-color) !important;
}

.vc-rdb-view .wrapper__09ecc {
  --message-color: var(--popout-color);
  --message-color-hover: var(--popout-color);
  margin-left: 52px !important;
}
.vc-rdb-view .avatar__08316 {
  left: -52px !important;
}

.vc-rdb-review-comment {
  margin-bottom: 0;
}

.vc-rdb-input {
  --textarea-background: rgba(var(--textarea-color), var(--textarea-alpha));
  margin-top: 12px !important;
  background-color: var(--textarea-background) !important;
  border-radius: 22px !important;
  border: none !important;
  box-shadow: none !important;
}
.vc-rdb-input .placeholder_e68c63 {
  color: var(--textarea-placeholder-color);
}
.vc-rdb-input .editor__66464 {
  color: var(--textarea-text-color);
}
.vc-rdb-input .buttons_ce5b56 {
  margin-right: 0 !important;
}
